<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22494873757-jg8ln18m72s347rnat7qddbsm4n2mahf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22494873757-jg8ln18m72s347rnat7qddbsm4n2mahf</string>
	<key>API_KEY</key>
	<string>AIzaSyCeyyzAUgNC-W4oD-EGdSDD8CGiUJXTH10</string>
	<key>GCM_SENDER_ID</key>
	<string>22494873757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.remission</string>
	<key>PROJECT_ID</key>
	<string>remission-app</string>
	<key>STORAGE_BUCKET</key>
	<string>remission-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22494873757:ios:1b1266b2e5813af2402c74</string>
</dict>
</plist>